.title__container {
    background-color: #2C2C2C;
    border-radius: 10px;

    box-sizing: border-box;
    padding: 12px;
    min-width: 42px;
    height: 48px;
    position: fixed;
    transform-origin: top left;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    max-width: 100%;
    font: 800 16px "Inter";
    background-color: transparent;
    color: #F7F5FB; 
    /* E9F1F7 */
    border: none;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
    transition: .2s;

    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}
.title:focus {
    background-color: #95959542;
}
.title:hover {
    background-color: #95959542;
    transition: .05s;
}

.title::-webkit-scrollbar {
    width: 3px;
}
.title::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #2c2c2c; 
}

.title::-webkit-scrollbar-thumb {
    background-color: #595959; 
    border-radius: 10px;
}