.actionbar {
    background-color: #F7F7F7;
    height: 45px;
    width: 1700px;
    position: relative;
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 15px;

    margin-bottom: 8px;
}

.actionbar__image {
    height: 40px;
    width: 40px;
    margin-top: 3px;
}

.abtext {
    margin-left: 16px;
}

.abtext__title {
    color: #393E46;
    font-size: 18px;
}

.abtext__actions {
    color: #929AAB;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.actions__item {
    font-size: 12px;
    margin-right: 16px;
}
