.actionbar {
    background-color: #2C2C2C;
    border: 1px solid #595959;
    width: 215px;
    height: calc(100vh - 20px);
    border-radius: 10px;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
}

.actionbar__menu {
    height: 28px;
    width: 28px;

    margin-top: 14px;
    margin-left: 10px;
    background-color: #0099ff00;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: .1s ease-in;

    cursor: pointer;
}
.actionbar__menu:hover {
    background-color: #0099FF;

    transition: .1s ease-in;
}

.actionbar__title {
    margin-top: 7px;

    margin-left: 13px;
}

.divider{
    width: 213px;
    height: 1px;

    margin-top: 8px;
    margin-bottom: 8px;

    background-color: #595959;
}

.actionbar__newslide {
    width: 199px;
    height: 22px;

    margin-left: 7px;

    background-color: #2C2C2C;
    border: 1px solid #595959;

    box-sizing: border-box;

    border-radius: 5px;

    display: flex;
    align-items: center;
}

.newslide__text {
    color: #FFFFFF;

    font-weight: 400;
    font-size: 10px;

    margin-left: 54px;
    margin-right: 61px;
}

