.button2 {
    height: 37px;
    border: 1px solid #929AAB;
    border-radius: 45px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    align-items: center;

    font-size: 10px;
    color: #393E46;

    cursor: pointer;
}
.button2:hover {
    background-color: #D9D9D9;
}


.render {
    position: absolute;
    display: flex;
    left: 0;
    top: 886px;
}