.slideList {
    display: flex;
    flex-direction: column;
    position: fixed;

    margin-top: 14px;
    margin-left: 20px;

    max-height: 80%;
    width: 205px;

    overflow-y: auto;
    overflow-x: hidden;
}
.slideList::-webkit-scrollbar {
    width: 5px; 
  }
  
  .slideList::-webkit-scrollbar-track {
    background-color: #EEEEEE; 
  }
  
  .slideList::-webkit-scrollbar-thumb {
    background-color: #929AAB; 
    border-radius: 10px;
  }

.small-slide {
    width: 190px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.small-slide__number {
    font-size: 16px;
    color: #393E46;
}

.small-slide__preview {
    margin-left: 10px;
    width: 172px;
    height: 96px;
    border: 2px solid #929AAB;
    border-radius: 15px;
}