* {
    user-select: none;
}

.loaderContainer {
    width: 100vw;
    height: 100vh;

    z-index: 1050;

    background-color: #00000070;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
}

.loaderText {
    font: 700 16px 'Inter';
    color: #ffffff;
    margin-top: 24px;
}

.menu__title {
    height: 23px;
    width: 48px;
    
    position: absolute;
    top: 8px;
    left: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;

    transition: 0.2s ease;

    color: #ffffff;
    font: 700 12px 'Inter' 
}

.menu__title:hover {
    transition: 0.2s ease;
    background-color: #2C2C2C;
}

.menu__title.active {
    background-color: #2C2C2C;
}

.menu {
    width: 341px;
    display: block;
    position: absolute;
    top: 35px;
    left: 10px;
    background-color: #2C2C2C;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
    display: grid;

    transition: 0.2s ease;
    z-index: 100;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.menu__item {
    font: 700 12px 'Inter';
    color: #ffffff;

    border-radius: 5px;
    width: 333px;
    height: 27px;
    display: flex;
    align-items: center;
    padding: 6px 26px;
    box-sizing: border-box;
    cursor: pointer;
    
    transition: 0.2s ease;
}

.menu__item:hover {
    /* background-color: #004FFF; */
    background-color: #595959;
    transition: 0.2s ease;
}

.menu__item_inactive {
    font: 700 12px 'Inter';
    color: #ffffff30;

    border-radius: 5px;
    width: 333px;
    height: 27px;
    display: flex;
    align-items: center;
    padding: 6px 26px;
    box-sizing: border-box;
    
    transition: 0.2s ease;
}

.item__hotkeys {
    margin-left: auto;
    opacity: .5;
}